*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2 ,h3, h4, h5, p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

#wrapper {
    padding: 0;
    margin: 0 auto; 
    width: 100%;
    background-color: black;  
    position: relative; 
    /* height: 100vh; */
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

/* header  **************************************/

#header {
    background-image: url("img/banner1.jpg");
    padding-bottom: 400px;
    background-size: cover;
}

#header #navigation{
    position: fixed;
    z-index: 99;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-h {
    position: absolute;
    right: 2rem;
}

.toggle-button {
    position: absolute;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar {
    height: 1px;
    width: 100%;
    background-color: #fff;
    border-radius: 100px;
}

/* section **************************************/

.sec-1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;   
    /* padding: 1rem 1rem;  */
    background-color: #fff;
    z-index: 1;
}

.sec-1 .content {
    width: 90%;
}

/* warpper-2 ***************************************/

.wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-2 {
    padding: 2rem;
}

.item-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.item-3 p {
    align-self: flex-end;
}

/* bewertung ***************************************/

.sec-1 .stars {
    display: flex;
    margin-top: 2rem;
}
.sec-1 .stars i {
    color: rgb(237, 229, 6);
}

.sec-1 .hermes p{
    font-weight: 700;
}
.sec-1 img {
    max-height: 25rem;
    max-width: 25rem;
    margin: 1rem;
}

/* after image ***********************************/

.sec-1 .item-2 {
    display: block;
} 

.sec-1 .item-2 li {
   color: #137d12;
   margin-bottom: 1rem;
}

.sec-1 .price {
    font-size: 1.5rem;
}

/* counter ***************************************/

.sec-1 .label-counter {
    font-weight: 700;
    width: 100%;
}
.sec-1 .container-counter {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #9e9e9e;
    padding: 0.5rem;
}

.sec-1 .container-counter .counter-buttons {
    position: absolute;
    right: 0.2rem;
    display: flex;
    flex-direction: column;
}

/* button-warenkorb ***************************************/
.sec-1 .warenkorb {
    width: 100%;
}

.sec-1 .warenkorb button {
    margin-bottom: 1rem;
    width: 100%;
    color: #fff;
    background-color: #0083ff;
    padding: 1rem;
    border: none;
    text-transform: uppercase;
}

.sec-1 .warenkorb button:hover {
    opacity: .9;
    transition: 0.2s ease;
    transform: scale(1.05);
}

/* details ***************************************/

.details--div {
    align-self: flex-start;
    width: 100%;
}

details {
    width: 100%;
    margin: 0 auto ;
    margin-bottom: .5rem;
    overflow: hidden;
    border-bottom: 1px solid #9e9e9e;
}

.details--div .line {
    width: 100%;
    border-top: 1px solid #9e9e9e;
}

.details--div summary {
    padding: 1rem;
    display: block;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

.details--div p{
    padding-left: 2.2rem;
}

.details--div summary i {
    position: absolute;
    right: 2.2rem;
}


/* footer ***************************************/

footer {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #1c1c1c;
    color: white;

}

footer .footer-content {
    width: 90%;
    margin: 0 auto;
}

.slogan {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: cener;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
}

.slogan i {
    color: red;
}

@media (min-width: 1300px) {
    .wrapper-2 {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;
    }

    .toggle-button {
        display: none;
    }

    .logo-h {
        position: absolute;
        left: 2rem;
    }
}
